<!DOCTYPE html>
<html>
    <%- include('frag/head'); %>

    <body>
        <main class="login">
            <div>
                <span>unauthorized.</span>
                <a href="/">go back</a>
            </div>
        </main>
    </body>
</html>

